/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */
/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */
/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */
/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */
/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */
/* STARTING WINDOW ANIMATION RESPONSIVE DESIGN CSS */

.anime {
    /* width: 100%;
    height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}




.first {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(#00ccff, #d500f9); */
    color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 112;
    margin-bottom: 48px;
    animation: scnd 1s linear forwards, yourmove 1s linear forwards 1.5s;
}


.first h1 {
    border-radius: 16%;
    font-size: 2rem;
    border: 2px solid var(--main-color);
    border-bottom: 2px solid black;
    width: 17%;
    text-align: center;
}


.scnd {
    width: 100%;
    height: 100vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 113;
    margin-top: 64px;
    opacity: 0;
    /* top: 55%; */
    animation: scnd 1s linear forwards .5s , scndmove 1s linear forwards 1.5s;
}

.scnd h1 {
    border-radius: 16%;
    font-size: 2rem;
    border: 2px solid var(--main-color);
    border-top: 2px solid black;
    width: 17%;
    text-align: center;
}

.anime::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    /* border: 1px solid; */
    z-index: 92;
    /* background: linear-gradient(#00ccff, #d500f9); */
    /* background: var(--main-color); */

    animation: yourmove 1s linear forwards;
    animation-delay: 1.5s;

    /* Adds a 2-second delay before the animation starts */
}

/* .anime::after {
    content: '';
    position: fixed;
    z-index: 2;
     height: 330px;
    width: 267px;
    margin-left: 33.5%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 90px;
    border: 2px solid whitesmoke;
    border-radius: 10%;
    animation: yourmove 1s linear forwards;
    animation-delay: 1.7s;

} */

@keyframes yourmove {
    0% {
        top: 0;

    }

    100% {
        top: -1000px;
        /* display: none; */
    }
}

@keyframes scndmove {
    0% {
        top: 0;

    }

    100% {
        top: -1000px;
        display: none;
    }
}

@keyframes slide {
    0% {
        left: -500px;

    }

    100% {
        left: 0px;
    }
}

@keyframes scnd {
    0% {
        /* left: 500px; */
        opacity: 0;

    }

    100% {
        /* left: 0px; */
        opacity: 1;
    }
}







@media (max-width: 600px) {

    .first {
        width: 100%;
        height: 100vh;
        /* background: linear-gradient(#00ccff, #d500f9); */
        /* color: floralwhite; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 112;
        margin-bottom: 48px;
        /* animation: scnd 1s linear forwards, yourmove 1s linear forwards 1.5s; */
    }

    .scnd {
        width: 100%;
        height: 100vh;
        /* color: aliceblue; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 112;
        margin-top: 64px;
        /* opacity: 0; */
        /* top: 55%; */
        /* animation: scnd 1s linear forwards .5s , scndmove 1s linear forwards 1.5s; */
    }

    .first h1{
        width: 45%;
    }
    .scnd h1{
        width: 45%;
    }

    /* .anime::before{
        content: '';
            position: fixed;
            width: 100%;
            height: 100vh;
            background: black;
            /* border: 1px solid; */
    /* z-index: 2; */
    /* background: linear-gradient(#00ccff, #d500f9); */
    /* background: var(--main-color); */

    /* animation: yourmove 1s linear forwards;
            animation-delay: 1.5s; */

    /* } */
}

@media (min-width: 601px) and (max-width: 800px) {
    .first h1{
        width: 20%;
    }
    .scnd h1{
        width: 20%;
    }
}